# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# =========================
# Virtual Environment
# =========================
venv/
.venv/
env/
ENV/

# =========================
# Conda
# =========================
conda-meta/
*.conda

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# PyTorch / Training
# =========================
checkpoints/
ckpt/
weights/
runs/
wandb/
tensorboard/
logs/
outputs/
results/
experiments/

*.pth
*.pt
*.ckpt
*.onnx

# =========================
# Dataset
# =========================
data/
datasets/
cache/
.huggingface/
hf_cache/
VIM_140_labeled/

*.nii.gz
*.nii
*.h5
*.csv
*.json
*.zip
*.tar
*.tar.gz
*.7z

# =========================
# Build
# =========================
build/
dist/
*.egg-info/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Env files / secrets
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log

# =========================
# CUDA / Compile
# =========================
*.o
*.out
*.cu.o

# =========================
# Temp
# =========================
tmp/
temp/
*.tmp